<server description="new server">

    <!-- Enable features -->
    <featureManager>
            <feature>jsp-2.2</feature>
                </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                      host="*"
                      httpPort="9080"
                      httpsPort="8443" />

   <application context-root="guessinggame" type="war" id="guessinggame"
    location="guessinggame.war" name="guessinggame"/>


</server>

