#topicprefix = /topic/
main_collective = mcollective
collectives = mcollective
libdir = /usr/libexec/mcollective
logfile = /var/log/mcollective.log
#logger_type=console
loglevel = info
daemonize = 1
#identity = fqdn
registerinterval = 300
max_log_size = 10240


# Plugins
securityprovider = psk
plugin.psk = abcdefgh

#connectore plugin config for activemq
connector = activemq
plugin.activemq.pool.size = 1
plugin.activemq.pool.1.host = ec2-54-244-162-224.us-west-2.compute.amazonaws.com
plugin.activemq.pool.1.port = 61613
plugin.activemq.pool.1.user = admin
plugin.activemq.pool.1.password = secret

# Facts
factsource = yaml
plugin.yaml = /etc/mcollective/facts.yaml
