<?xml version='1.0' encoding='utf-8'?>

<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <Environment name="location" value="https://s3-us-west-2.amazonaws.com/vehicle-rental/CSS/frame.css" type="java.lang.String"/>
    <Environment name="datepickercsslocation" value="https://s3-us-west-2.amazonaws.com/vehicle-rental/CSS/jsDatePick_ltr.min.css" type="java.lang.String"/>
    <Environment name="businessURL" value="http://---URL---:8080/VehicleBusiness/vehiclerental" type="java.lang.String"/>
</Context>
